<ons-page ng-controller="ShopCategoriesController as vm">
  <ons-toolbar>
    <div class="left">
      <ons-back-button>戻る</ons-back-button>
    </div>
    <div class="center">店舗カテゴリ</div>
  </ons-toolbar>

  <div class="progress" ng-if="vm.isLoading">
    <ons-progress-circular indeterminate></ons-progress-circular>
  </div>

  <ons-list>
    <ons-list-item ng-repeat="shopCategory in vm.shopCategories" modifier="tappable" ng-click="vm.onSelectShopCategory(shopCategory)">
      {{shopCategory.name}}
    </ons-list-item>
  </ons-list>
</ons-page>
